phpunit.xml
vendor
composer.lock
Entity/*
Repository/*
Controller/*
Datatable/*
Security/*
Form/*
Controller/*
DBAL/Types/*
!DBAL/Types/Type.php
Tests/Resources/*
Tests/cache/*
Tests/logs/*
Tests/config/*
.idea/*
phpunit.phar